$primary-start: #ca00cc;
$primary-end: #7b2ff7;

.hover-style-card {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition:
    transform 0.2s ease,
    box-shadow 0.2s ease;

  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);

    &::after {
      width: 100%;
    }
  }
  
  &.active {
    transform: translateY(-2px);
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.12);

    &::after {
      width: 100%;
    }
  }

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 4px;
    width: 0%;
    background: linear-gradient(90deg, $primary-start, $primary-end);
    transition: width 0.3s ease;
  }
}

// effect style while hover on card that has class below
.hover-card {
  transition: all 0.2s ease;
  cursor: pointer;
  background-color: unset;
}

.hover-card:hover {
  transform: translateY(-4px);
  // box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}


/* Vertical scrollbar width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track background */
::-webkit-scrollbar-track {
  background: none;
  border-radius: 10px;
}

/* Draggable handle */
::-webkit-scrollbar-thumb {
  background: #6E026F;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

//***************** animation style typing *****************
.typing {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  max-width: fit-content;
  border-right: 2px solid #7b2ff7;

  animation: typing 10s ease-in-out infinite;
}

@keyframes typing {
  0%   { width: 0 }
  50%  { width: 100% }  /* typing */
  100% { width: 0% }     /* delete */
}

@keyframes blink {
  50% { border-color: transparent }
}